{
  "presets": [["env", {
    "targets": {
      "node": "6"
    }
  }], "es2016"],
  "plugins": [
    "transform-async-to-generator",
    "transform-flow-strip-types",
    "add-module-exports"
  ]
}
